<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/style.css">
<body>
<nav th:fragment="navbar" class="navbar nav" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a th:href="@{/}" class="vert-align">
            <img src="/images/newLogo.jpg" class="logo"></span>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" id="burg"
           onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');"
           data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
                <a th:href="@{/studenttracker}" href="/studenttracker" class=" navbar-link">Records</a>
                <div class="navbar-dropdown">
                    <a th:href="@{/studenttracker}" class="navbar-item">View All Records</a>
                    <a th:href="@{/studenttracker/add}" class="navbar-item">Add New Record</a>
                    <hr class="navbar-divider">
                </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    API
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" th:href="@{/studenttracker/client/rest}">
                        REST Client
                    </a>
                    <a class="navbar-item" th:href="@{/studenttracker/client/soap}">
                        SOAP Client
                    </a>
                </div>
            </div>
            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a th:href="@{/report}" href="/about" class=" navbar-link">Reports</a>
                    <div class="navbar-dropdown">
                        <a th:href="@{/studenttracker/report/student/tracker/name}" class="navbar-item">
                            Tracker Report
                        </a>
                        <hr class="navbar-divider">
                    </div>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a th:href="@{/about}" href="/about" class=" navbar-link">Other</a>
                        <div class="navbar-dropdown">
                            <a th:href="@{/about}" href="/about" class="navbar-item">About</a>
                            <hr class="navbar-divider">
                            <a th:href="@{/pirate}" href="/pirate" class="navbar-item">Pirate</a>
                            <hr class="navbar-divider">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
</body>
</html>